name: Base workflow
run-name: ${{ github.actor }} is testing
on:
  push:
    branches:
      - main
jobs:
  testJob:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello world!"
      - name: Named step
        run: echo "Named step"
      - run: echo ${{ job.status }}
